
.field-label-element {
    margin-left: 10px;
}

.loading-indicator {
    font-style: italic;
}

.loading-indicator-hidden {
    display: none;
}

.generated-for {
    font-style: italic;    
}

.generated-for-hidden {
    display: none;
}
